body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

.card {
    background-color: #696969;
    color: white;
    padding: 2rem;
    width:750px;
    max-width: 90%;
    max-height: 90%;
    text-align: center;
}
.profile-image img {
    width: 150px;
    height: 150px;
    margin-bottom: 2rem;
}

.name {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0rem 0;
}

.email {
    font-style: italic;
    font-weight: bold;
    margin: 1rem 0;
    font-size: 1.2rem;
}

.github-link {
    display: inline-block;
    margin: 1rem 0;
    text-decoration: underline;
    font-size: 1.2rem;
}

.bio, .experience {
    text-align: center;
    margin: 1.5rem 0;
    font-family: 'Times New Roman', Times, serif;
}

.bio p, .experience p {
    line-height: 1.6;
    margin: 0;
    font-size: 1.3rem;
}